
$fontTitle: 'Poppins', sans-serif;
$fontBody: 'Montserrat', sans-serif;

@mixin basicText {
	font-size: 16px;
	font-weight: normal;
	font-family: $fontBody;	
}
@mixin mainTitle {
	font-family: $fontTitle;
	font-weight: bold;
	color: #0455BF;
}

body {
	background: #FAFAFA;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0455BF;
	font-family: 'Poppins', sans-serif;
	ul {
		list-style-type: none;
		padding-right: 20px;
		
		li {
			display: inline-block;
			margin: 15px;
			padding: 10px 20px;
			position: relative;

			a {
				font-size: 17px;
				color: #ffffff;
				text-decoration: none;
			}
		}
		
	}
}

nav ul li a:hover {
	color: #F25C05;
	text-decoration: none;
}
.logo {
	width: 160px;
	padding-left: 25px;
}
.gridInicio {
	display: grid;
	justify-items:center;
	grid-template-columns: 33% auto 33%;
	grid-template-rows: 100px auto; 
	grid-template-areas:
	". inicioTitle ."
	"escucha desarrollo implementación"
}
.inicioTitle {
	grid-area: inicioTitle;
	margin-top: 35px;
}
.articleIni1 {
	grid-area: escucha;
	/*display: flex;
	justify-content: space-evenly;*/
}
.articleIni2 {
	grid-area: desarrollo;
	/*display: flex;
	justify-content: space-evenly;*/
}
.articleIni3 {
	grid-area: implementación;
	/*display: flex;
	justify-content: space-evenly;*/
}
.banner {
	width: 100%;
}
/*.bannerText {
	font-family: 'Poppins', sans-serif;
	font-size: 38px;
	font-weight: bold;
	color: #0455BF;
	text-align: left;
}*/
.imgArticle {
	width: 50%;
	display:block;
	margin:auto;
}
.gridServicios {
	display: grid;
	justify-items:center;
	margin: 35px 35px 0px 35px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%; 
	grid-template-areas:
	"web app"
	"disenio ux"
}
.boxWeb {
	grid-area: web;
	/*display: flex;
	justify-content: space-evenly;*/
}
.boxApp {
	grid-area: app;
	/*display: flex;
	justify-content: space-evenly;*/
}
.boxDisenio {
	grid-area: disenio;
	/*display: flex;
	justify-content: space-evenly;*/
}
.boxUx {
	grid-area: ux; 
	/*display: flex;
	justify-content: space-evenly;*/
}
.gridTrabajos {
	display: grid;
	justify-items:center;
	margin: 35px 35px 0px 35px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"trabajoUno trabajoDos"
	"trabajoTres trabajoCuatro"
}

.trabajo1 {
	grid-area: trabajoUno;
}
.trabajo2 {
	grid-area: trabajoDos;
}
.trabajo3 {
	grid-area: trabajoTres;
}
.trabajo4 {
	grid-area: trabajoCuatro;
}
.gridNosotros {
	display: grid;
	justify-items:center;
	margin: 35px 35px 0px 35px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"nosotros1 nosotros2 nosotros3 nosotros4"
}
.nosotros1{
	grid-area: nosotros1;
}
.nosotros2{
	grid-area: nosotros2;
}
.nosotros3{
	grid-area: nosotros3;
}
.nosotros4{
	grid-area: nosotros4;
}
.gridContactanos {
	display: grid;
	grid-template-columns: 40% 60%;
	margin: 35px 35px 0px 35px;
	grid-template-rows:1fr;
	grid-template-areas: 
	"datos formulario"
}
.datosContacto {
	grid-area: datos;
	margin-top: 60px;
}
.formulario {
	grid-area: formulario;
}
.ContactoText {
	@include basicText;
    margin-left: 45px;
    margin-top: 15px;
}
.formText {
	@include basicText;
}

.mapa {
	margin: 20px 0px 0px 45px;
}
/*.articleBox {
	border: solid 1px;
	margin: 20px 10px 20px 10px;
	padding: 10px 15px;
	display: inline-block;
}*/
.inicioTitle {
	@include mainTitle;
	font-size: 24px;
	text-align: center;
}
.sectionTitle {
	font-size: 32px;
	@include mainTitle;
}
.sectionText {
	font-size: 20px;
	font-family: $fontBody;
	font-weight: normal;
	text-align: center;
}
.articleTitle {
	font-size: 18px;
	font-family: $fontBody;
	font-weight: bold;
	text-align: center;
}
.articleText {
	@include basicText;
	text-align: center;
}
.sectionName {
	margin: 25px;
}
.icono {
	width: 28px;
	height: 28px;
}
.boton {
	@include basicText;
	color: #ffffff;
	border: none;
	border-radius: 30px;
	padding: 13px 23px;
	margin: 10px;
	background: #F25C05;
	opacity: 75%;
}
.transition:hover {
	background: #F25C05;
	opacity: 100%;
}

footer {
	display: flex;
	background-image: linear-gradient(to bottom, #0455BF, #000046);
	justify-content: flex-end;
	padding-right: 25px;
	height: 70px;
	margin-top: 45px;
	div {
		display: inline-block;
		padding: 5px 10px;
		margin: 10px 5px 0px 5px;
		img {
			width: 22px;
			height: 22px;
		}
	}
}